<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" type="text/css" href="stylesheets/assign.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap"
      rel="stylesheet"
    />

    <title>View Issue</title>
  </head>

  <body>
    <div class="lightbox">
      <div class="cerrar">
        <a class="cerrar-enlace" id="cerrar">X</a>
      </div>
      <div class="select-user-form">
        <h2 class="title">Selecciona usuario asignado</h2>
        <form id="user-list" class="user-list">
          <select name="select" id="select"></select>
          <div class="user-actions">
            <button id="save-btn" class="save-btn">Añadir</button>
          </div>
        </form>
      </div>
    </div>
  </body>

  <script>
    const button = document.getElementById('save-btn');
    const close = document.getElementById('cerrar');
    button.addEventListener('click', (event) => {
      event.preventDefault();
      const token = localStorage.getItem('token');
      const headers = new Headers();
      headers.append('Authorization', `Bearer ${token}`);
      headers.append('Content-Type', 'application/json');
      const select = document.querySelector('#select');
      const userId = select.value;
      const url = window.location.href;
      const parts = url.split('/');
      const issueId = parts[4];
      const newUrl = `http://localhost:8080/issues/${issueId}/assign`;
      const data = {
        userId: userId,
      };

      fetch(newUrl, {
        method: 'POST',
        body: JSON.stringify(data),
        headers: headers,
      })
        .then((response) => response.json())
        .then((data) => {
          console.log('Success:', data);
          window.location.href = `http://localhost:8080/issue/${issueId}`;
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    });
    close.addEventListener('click', (event) => {
      const url = window.location.href;
      const parts = url.split('/');
      const issueId = parts[4];
      const newUrl = `http://localhost:8080/issue/${issueId}`;
      window.location.href = newUrl;
    });
  </script>
</html>
