<!DOCTYPE html>
<html>
  <head>
    <head>
      <title>New bulk insert</title>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      />
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap"
        rel="stylesheet"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="/stylesheets/bulkIssues.css"
      />
    </head>
  </head>
  <body>
    <div class="container" style="align-items: center">
      <div class="cerrar">
        <a class="cerrar-enlace" href="../issue">X</a>
      </div>
      <h1 style="align-items: center">New bulk insert</h1>
      <form class="bulk-form" id="bulkForm">
        <textarea
          class="bulk-input"
          id="bulkInput"
          placeholder="One item per line..."
        ></textarea>
        <button class="bulk-button" type="submit">Save</button>
      </form>
    </div>
    <script>
      document
        .getElementById('bulkForm')
        .addEventListener('submit', async function (event) {
          event.preventDefault(); // Prevenir el envío del formulario
          const token = localStorage.getItem('token');
          const headers = new Headers();
          headers.append('Authorization', `Bearer ${token}`);
          headers.append('Content-Type', 'application/json');
          const bulkInput = document.getElementById('bulkInput');
          const bulkData = bulkInput.value;
          const issuesArray = bulkData.split('\n');
          const bulkIssues = issuesArray.map((issue) => ({
            subject: issue,
            description: 'ISSUE',
            status: 'Nueva',
            type: 'Bug',
            severity: 'Normal',
            priority: 'Media',
          }));

          try {
            const response = await fetch('/issue/bulk', {
              method: 'POST',
              headers: headers,
              body: JSON.stringify({ issues: bulkIssues }),
            });

            if (response.ok) {
              window.location.href = 'http://localhost:8080/issue'; // Redirigir a la ruta después de la petición exitosa
            } else {
              console.error(
                'Error al realizar la petición:',
                response.statusText,
              );
            }
          } catch (error) {
            console.error('Error al realizar la petición:', error);
          }
        });
    </script>
  </body>
</html>
