<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" type="text/css" href="../stylesheets/editProfile.css" />
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet" />
    <title>Edit Profile</title>
</head>
<body>
    <section class="user-profile">
        <header>
            <h1>Configuración de Usuario</h1>
        </header>
        <form action="">
            <div class="image-avatar">
                <fieldset class="image-container">
                    <img src="https://picsum.photos/180" alt="" class="image">
                    <input class="hidden" type="file" id="avatar-field">
                </fieldset>
                <button class="btn" type="text" title="cambiar foto">CAMBIAR FOTO</button>
            </div>
            <div class="form-data">
                <fieldset>
                    <label for="username">Nombre de usuario</label>
                    <input type="text" name="username" placeholder="Nombre de usuario" id="username">
                </fieldset>
                <fieldset>
                    <label for="email">Correo</label>
                    <input type="email" name="email" id="email" placeholder="Correo">
                </fieldset>
                <fieldset>
                    <label for="full-name">Nombre completo</label>
                    <input type="text" name="full-name" id="full-name" placeholder="Nombre completo">
                </fieldset>
                <fieldset>
                    <label for="bio">Bio (max. 210 caracteres)</label>
                    <textarea name="bio" id="bio" maxlength="210"></textarea>
                </fieldset>
                <fieldset class="submit">
                    <button type="submit" class="btn-small" title="Guardar">Guardar</button>
                </fieldset>
            </div>
        </form>
    </section>
</body>
</html>