<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/editProfile.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <title>Edit Profile</title>
  </head>
  <body>
    <section class="user-profile">
      <header>
        <h1>Configuración de Usuario</h1>
      </header>
      <div class="image-avatar" id="image-avatar"></div>
      <div class="form-data" id="editP"></div>
    </section>
  </body>

  <script>
    const savebtn = document.getElementById('submit');
    const input = document.getElementById('image-input');

    savebtn.addEventListener('click', (event) => {
      event.preventDefault();
      const token = localStorage.getItem('token');
      const form = document.querySelector('form');
      const headers = new Headers();
      headers.append('Authorization', `Bearer ${token}`);
      headers.append('Content-Type', 'application/json');

      const formData = new FormData(form);
      const newUrl = window.location.href + '/submit';

      const info = {
        email: formData.get('email'),
        name: formData.get('name'),
        bio: formData.get('bio'),
      };

      fetch(newUrl, {
        method: 'POST',
        body: JSON.stringify(info),
        headers: headers,
      }).then((data) => {
        console.log('Success:', data);
        const newUrl2 = 'http://asw.issue-tracker-asw.net/user/editProfilePic';
        const formData2 = new FormData();
        formData2.append('file', input.files[0]);
        console.log(input.files[0]);
        fetch(newUrl2, {
          method: 'POST',
          headers: {
            Authorization: `Bearer ${token}`,
          },
          body: formData2,
        })
          .then((data) => {
            console.log('Success:', data);
            /*window.location.href = `http://asw.issue-tracker-asw.net/myProfile/${token}`;*/
          })
          .catch((error) => {
            console.error('Error:', error);
          });
      });
    });
  </script>
</html>
