<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/editProfile.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <title>Edit Profile</title>
  </head>
  <body>
    <section class="user-profile">
      <header>
        <h1>Configuración de Usuario</h1>
      </header>
      <div class="image-avatar">
        <fieldset class="image-container" id="image-container">
          <input class="hidden" type="file" id="avatar-field" />
        </fieldset>
        <button class="btn" type="text" title="cambiar foto">
          CAMBIAR FOTO
        </button>
      </div>
      <div class="form-data" id="editP"></div>
    </section>
  </body>
</html>
