<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login-container">
      <h1>Bienvenido a tu Issue Tracker</h1>
      <form method="post" action="http://35.180.174.221/users/login">
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Nombre de usuario"
          required
        />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Contraseña"
          required
        />
        <button class="submit-btn" type="submit">LogIn</button>
      </form>
    </div>

    <script>
      const form = document.querySelector('form');
      form.addEventListener('submit', async (event) => {
        event.preventDefault();
        const formData = new FormData(event.target);
        const json = Object.fromEntries(formData.entries()); // Convierte los datos del formulario en un objeto JSON
        const response = await fetch('http://35.180.174.221/users/login', {
          method: 'POST',
          body: JSON.stringify(json), // Envía los datos del formulario como JSON
          headers: {
            'Content-Type': 'application/json', // Establece el encabezado de la petición a application/json
          },
        });
        const data = await response.json();
        if (response.ok) {
          localStorage.setItem('token', data.token);
          window.location.href = 'http://35.180.174.221/issue';
        } else if (response.status === 400) {
          console.error(data.error || data.message);
        }
      });
    </script>
  </body>
</html>
