<!DOCTYPE html>
<html>
  <head>
    <title>Pantalla de inicio de sesión</title>
    <link rel="stylesheet" type="text/css" href="login.css">
  </head>
  <body>
    <div class="login-container">
      <h1>Bienvenido</h1>
      <form method="post" action="localhost:8080/login" >
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Contrasena:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Ingresar</button>
      </form>
    </div>
  </body>
</html>
