<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet" type="text/css" href="../stylesheets/profile.css" />
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet" />
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <title>Profile</title>
      </head>
<body>
    <div class="profile">
        <section class="profile-bar">
            <img src="https://picsum.photos/200" alt="" class="profile-image">
            <div class="profile-data">
                <h1>Rubén Torrente</h1>
                <div class="username">@rubitor5</div>
                <h2>Diseñador, Product Owner</h2>
            </div>
        </section>
        <div class="main">
            <div class="timeline-wrapper">
                <nav class="profile-content-tabs">
                    <a href="" class="tab active">
                        <ion-icon class="icon" name="reorder-four-outline"></ion-icon>
                        <span>Timeline</span>
                    </a>
                    <a href="" class="tab">
                        <ion-icon class="icon" name="eye-outline"></ion-icon>
                        <span>Observado</span>
                    </a>
                </nav>
            </div>
            <aside class="profile-sidebar">
                <div class="editar-bio">
                    <h4>Tu perfil</h4>
                    <p>La gente puede ver todo lo que haces y en qué estás trabajando. Añade una buena bio para que puedan ver la mejor versión de tu perfil.</p>
                    <button class="edit-profile">
                        <span>EDITAR BIO</span>
                    </button>
                </div>
            </aside>
        </div>
    </div>
    
</body>
</html>