<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <title>Profile</title>
  </head>

  <body>
    <div class="button"></div>
    <div class="profile" id="myProfile"></div>
    <script>
      function redirectToUrl() {
        window.location.href = 'http://localhost:8081/issue';
      }
      document.addEventListener('DOMContentLoaded', function () {
        var editElem = document.getElementById('editPerfil');
        var viewTimeline = document.getElementById('timeLineButton');
        var viewTimeWatcher = document.getElementById('timeWatcher');

        editElem?.addEventListener('click', function () {
          viewProfile();
        });

        viewTimeline.addEventListener('click', function () {
          const auth = localStorage.getItem('token');
          const url = window.location.href;
          const parts = url.split('/');
          const author = parts[4];
          const authorReal = author.split('?');
          console.log(author);
          const newUrl = `http://localhost:8081/myProfile/${authorReal[0]}?&view=timeline`;
          window.location.href = newUrl;
        });

        viewTimeWatcher.addEventListener('click', function () {
          const url = window.location.href;
          const parts = url.split('/');
          const author = parts[4];
          const authorReal = author.split('?');
          console.log(author);
          const newUrl = `http://localhost:8081/myProfile/${authorReal[0]}?&view=watched`;
          window.location.href = newUrl;
        });
        
        function viewProfile() {
          const auth = localStorage.getItem('token');
          window.location.href = `http://localhost:8081/myProfile/${auth}/edit`;
        }

      });
    </script>
  </body>
</html>
