
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
  </head>
    <header id="header">
      <div class="left">
        <a href="http://localhost:8081/issue"><ion-icon name="list"></ion-icon></a>
    </div>
    <h1 style="color: #008aa8; font-family: Arial, verdana; text-align: center;">Issues</h1>
    <div class="right">
      <button id="profile-btn" onclick="goToProfile()"><ion-icon name="person"></ion-icon></button>
    </div>
    </header>
      <div class="search-filter">
        <div class="search-box">
          <span><i class="fas fa-search" style="padding-right: 1rem;"></i></span>
          <input
            class="search-input"
            type="text"
            id="input"
            placeholder="Subject or reference"
          />
        </div>
        <div class="profile-button" style="display: inline-block; margin-left: auto;">
          <a href="#" id="irPerfil">
            <i class="fas fa-user"></i> 
            <span>Ir al perfil</span> 
          </a>
        </div>
        <button
          type="button"
          class="new-issue-button"
          onclick="window.location.href='/issues/newIssue'"
        >
          <span>+ New Issue</span>
        </button>
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            var profileElem = document.getElementById('irPerfil');
            profileElem.addEventListener('click', function () {
              viewProfile();
            });
            function viewProfile(){
              const auth = localStorage.getItem('token');
              window.location.href = `http://localhost:8081/myProfile/${auth}`;
            }
         });
        </script>
      </div>
