<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" type="text/css" href="../stylesheets/viewIssue.css" />
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


  <title>View Issue</title>
</head>

<body>
  <div class="master">
    <div class="main">
      <div class="header-container">
        <div id="detail-header" class="detail-header">
        </div>
      </div>
      <div class="detail-content">
        <div id="description" class="description">
        </div>
        <button id="confirm" class="save-button" style="display:none">Confirmar</button>
        <section class="attachments">
          <h2 class="attachment-header">
            <div class="attachment-ad">
              <span class="attachment-count">0</span> Adjuntos
            </div>

            <div class="attachment-container">
              <label for="attachment-input" class="attachment-label">+</label>
              <input type="file" id="attachment-input" class="attachment-input" multiple>
            </div>
          </h2>
          <ul class="attachment-list"></ul>
        </section>
        <section class="comment-section">
          <h2 class="comment-h2"><span id="comment-count">0</span> Comentarios</h2>
          <form action="issues/:id/new-comment" method="POST">
            <div class="form-group">
              <input type="hidden" name="id">
              <textarea id="comment" name="comment" placeholder="Escribe un nuevo comentario aquí" required></textarea>
            </div>
            <button type="submit">Comentar</button>
          </form>
          <div id="comments-section">
            <ul id="comments-list">
            </ul>
          </div>
        </section>
      </div>
    </div>
    <aside id="sidebar" class="sidebar">
      <section id="atributos"></section>
      <section id="assign" class="assign">
        <div class="label-ticket">
          <span>Asignado</span>
        </div>
        <div class="assign-list">
          <div id="ticket-user-list" class="ticket-user-list">
            <div class="assignUser">
              <div class="img-avatar"><img src="https://picsum.photos/48" alt="" class="avatar"></div>
              <div class="user-list-name"><span>Rubén Torrente</span></div>
            </div>
          </div>
          <div class="ticket-user-actions">
            <div class="icon-add"><ion-icon name="add-outline" class="plus-icon"></ion-icon></div>
            <a href="http://localhost:8081/issue/${issueId}/AssignUser" class="ticket-actions-link"><span>Añadir asignación</span></a>
          </div>
        </div>
      </section>
      <section id="watchers" class="watchers">
        <div class="label-ticket">
          <span>Observadores</span>
        </div>
        <div class="watchers-list">
          <div id="ticket-watchers-list" class="ticket-watchers-list">
            <div class="watchUser">
              <div class="img-avatar"><img src="https://picsum.photos/48" alt="" class="avatar"></div>
              <div class="watcher-list-name"><span>Rubén Torrente</span></div>
            </div>
          </div>
          <div class="ticket-user-actions">
            <div class="icon-add"><ion-icon name="add-outline" class="plus-icon"></ion-icon></div>
            <a href="" class="ticket-actions-link"><span>Añadir observadores</span></a>
            <div class="icon-nowatch"><ion-icon name="eye-off-outline"></ion-icon></div>
            <a href="" class="ticket-actions-link"><span>No observar</span></a>
          </div>
        </div>
        <div id = "butonLockUnlock">

        </div>
        <div id = "butonEditDeadline">

        </div>
      </section>
    </aside>
  </div>
  <script>
    async function LockUnlock() {
      const token = localStorage.getItem('token');
      const opciones = {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': `Bearer ${token}`
        },
      };

      var butonlock = document.getElementById("botonLock");
      if (butonlock.dataset.lock == "true") {
        butonlock.innerHTML = "<i class=\"fas fa-unlock\"></i>";
          await fetch(`http://localhost:8081/issues/${issueId}/unlock-issue`, opciones);
      } 
      else {
        butonlock.innerHTML = "<i class=\"fas fa-lock\"></i>";
        await fetch(`http://localhost:8081/issues/${issueId}/lock-issue`,opciones);
      }
      window.location.reload();
      



    }
  </script>
  <script>
    // Obtener la ID de la issue de la URL actual
    const url = window.location.href;
    const issueId = url.substring(url.lastIndexOf('/') + 1);

    // Actualizar el valor del atributo "action" del formulario
    const form = document.querySelector('form');
    form.action = `/issue/${issueId}/new-comment`;
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var textElement = document.getElementById('text');
      var editIcon = document.getElementById('edit-icon');
      var textElementSubject = document.getElementById('text-subject');
      var editIconSubject = document.getElementById('edit-icon-subject');
      var confirmButton = document.getElementById('confirm');
      var confirmButtonSubject = document.getElementById('confirm-subject');
      var deleteButton = document.getElementById('borrar');
      // Al hacer clic en el icono de edición, habilitar la edición y mostrar el botón de confirmación
      editIcon.addEventListener('click', function () {
        textElement.contentEditable = true;
        confirmButton.style.display = 'block';
      });
      deleteButton.addEventListener('click', function () {
        deleteIssue();
      });
      editIconSubject.addEventListener('click', function () {
        textElementSubject.contentEditable = true;
        confirmButtonSubject.style.display = 'block';
      });

      // Al hacer clic en el botón de confirmación, deshabilitar la edición y ocultar el botón de confirmación
      confirmButton.addEventListener('click', function () {
        textElementSubject.contentEditable = false;
        confirmButtonSubject.style.display = 'none';
        var newValue = textElementSubject.innerText;
        modifyIssue('description', newValue);
      });
      confirmButton.style.display = 'none';

      confirmButtonSubject.addEventListener('click', function () {
        textElementSubject.contentEditable = false;
        confirmButtonSubject.style.display = 'none';
        var newValue = textElementSubject.innerText;
        modifyIssue('subject', newValue);
      });
      confirmButtonSubject.style.display = 'none';
    });
    function deleteIssue(){
      fetch(`http://localhost:8081/issue/${issueId}/remove`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Accept': 'application/json',
        },
        credentials: 'same-origin',
      }).then(() => {
    window.location.replace("http://localhost:8081/issue");
  })
      .catch(error => console.log(error));
    }
    function modifyIssue(parameter, newValue) {
      fetch(`http://localhost:8081/issue/${issueId}/modifyIssue`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Accept': 'application/json',
        },
        body: JSON.stringify({
          parameter: parameter,
          newValue: newValue,
        }),
        credentials: 'same-origin',
      }).catch(error => console.log(error));
    }
  </script>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

  <script>
    const commentCount = document.getElementById('comment-count');
    const commentsList = document.getElementById('comments-list');

    const updateCommentCount = () => {
      const commentListItems = commentsList.getElementsByTagName('li');
      const count = commentListItems.length;
      commentCount.innerHTML = count;
    };

    updateCommentCount();
  </script>

</body>

</html>