<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" type="text/css" href="../stylesheets/watchers.css" />
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet" />

  <title>Watchers</title>
</head>

<body>
    <div class="lightbox">
        <div class="cerrar">
            <a class="cerrar-enlace" href="#">X</a>
          </div>
        <div class="select-watcher-form">
            <h2 class="title">Añadir observadores</h2>
            <div id="watcher-list" class="watcher-list">
                <div class="item">
                    <div class="user-watcher-avatar">
                        <img src="https://picsum.photos/48" alt="" class="img-avatar">
                    </div>
                    <div class="watcher-list-name">Rubén Torrente</div>
                </div>
            </div>
            <div class="user-actions">
                <button class="save-btn">Añadir</button>
            </div>
        </div>
    </div>

</body>
</html>