/* Estilos para el botón de filtro */
.filter-button {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border: none;
  color: #008aa8;
  font-size: 14px;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.filter-button:hover {
  background-color: #ddd;
}
.new-issue-button {
  justify-content: right;
  background-color: #83eede;
  border: none;
  color: #2e3440;
  font-size: 14px;
  padding: 10px 15px;
  text-align: right;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  right:5%;
}
.new-issue-button:hover {
  background-color: #ddd;
}

/* Estilos para el icono de filtro */
.fa-filter {
  margin-right: 5px;
}

/* Estilos para la caja de búsqueda */
.search-box {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 4px;
  width: 250px;
  margin: 0 20px;
}

.search-filter {
  justify-content: start;
  display: flex;
  min-width: 500px;
}
/* Estilos para el icono de búsqueda */
.fa-search {
  margin: 0 10px;
}

/* Estilos para la entrada de búsqueda */
.search-input {
  border: none;
  background-color: #f2f2f2;
  padding: 10px;
  font-size: 14px;
  width: 100%;
}

/* Estilos para TAGS*/
.switch {
  display: flex;
  position: relative;
  width: 40px;
  height: 20px;
  margin: 10px;
}

.switch input {
  display: flex;
}
.switch label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  border-radius: 34px;
  transition: background-color 0.3s;
}

.switch label:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.switch input:checked + label {
  background-color: #008aa8;
}
.label {
  margin-left: 30px;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  font-size: 16px;
  justify-content: center;
}
.switch input:checked + label:before {
  transform: translateX(20px);
}

.new-issue-button {
  justify-content: end;
}
