/*Estilo para el contenedor de la issue*/
  .issue {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    min-width: 80%;
    
  }
  
  .elemento:hover {
    background-color: #eee;
  }
  
  .bola {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: auto; /* Agregar margen automático a la izquierda para empujar las bolas a la derecha */
    margin-right: 6em; /* Aumentar el valor de margin-right para agregar más espacio entre las bolas */
  }
  
  /* Estilos para tipos de  Issue */
  #Bug{
    background-color: red;
  }
  
  #Pregunta {
    background-color: rgb(6, 42, 247);
  }
  #Mejora{
    background-color: green;
  }
  
  /* Estilo para  pending*/
  #Deseada{
    background-color: grey;
  }
  
  /* Estilos para gravedad*/
  #Menor{
    background-color: blue;
  }
  
  #Normal{
    background-color: green;
  }
  
  #Importante{
    background-color: orange;
  }
  
  #Crítica {
    background-color: red;
  }
  
  /* Estilos para prioridad*/
  #Baja {
    background-color: green;
  }
  #Media {
    background-color: orange;
  }
  #Alta {
    background-color: red;
  }
  
  /*Estilos para elementos de la issue*/
  
  .informacion {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  .numero-peticion {
    font-weight: bold;
    text-align: center;
    color: #008aa8;

  }
  .texto-peticion {
    margin-left: 10px;
  }
  
  #linkIssue{
    color: rgb(51, 46, 46);
    text-decoration: none;
  }
  .estado {
    text-align: center;
    width: 100px;
  }
  
  .fecha-creacion {
    text-align: center;
    width: 100px;
    color:#8f8989
  }