.login-container {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    background-color: #cee0c6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 95%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-right: 10px  ;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }
  